/* override css */

/* @http://tansignari.opendatasicilia.it*/

/*importa i font fontawesome 5.0 per i loghi social*/
 @import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);
 
@mixin bg-variant($parent, $color) {
  #{$parent} {
   background-color: #fff!important;
  }
  
img {
   display: block!important; margin: 0 auto!important; box-shadow: 0 1px 2.5px rgba(0,0,0,0.65)!important;	border-radius: 5px!important;	moz-border-radius: 5px!important; -webkit-border-radius: 5px!important;	border: 1px solid #FFF!important;	padding: 1px;background-color: #fff!important;} 
