+++
title = "T'ansignari e t'appeddiri!, ti devo insegnare a fare qualcosa e ti devo perdere."
linkTitle = "T'ansignari e t'appeddiri!"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="orange" >}}
<h11>Cultura della documentazione!</h11>
<div class="mx-auto">
  <a class="btn btn-lg btn-primary mr-3 mb-4 community" href="{{< relref "/ricette">}}"  title="Passa all'indice delle ricette">
		Le ricette <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a href="https://github.com/opendatasicilia/tansignari-md" target="_blank" title="Download GitHub" class="btn btn-lg btn-secondary mr-3 mb-4 community" >
		Download <i class="fab fa-github ml-2 "></i></a>
	<p class="lead mt-12 -bg-white">Molto spesso <strong>disperdiamo richieste di aiuto</strong> ("Come faccio a ...") e le relative <strong>preziose risposte</strong> in chat, social network, email tra due persone, ecc.. Sono informazioni che una volta messe in circolo, dopo pochi minuti sono già  "perdute", <strong>confinate in spazi ristretti</strong> che non si prestano a una condivisione di conoscenza e quasi <strong>mai indicizzati dai motori di ricerca.</strong>
    <script src="//cdn.wordart.com/wordart.min.js" async defer></script>
<div style="width: 100%; height: 300px; background-color:transparent !important; margin: 0 auto; display: block;"  data-wordart-src="//cdn.wordart.com/json/ur3ckeu2u6wx" data-wordart-show-attribution></div> </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Questo repository nasce per <strong>mettere a fattore comune scambi di conoscenza/esperienza su questi temi: dati aperti, trasparenza, Linked Open Data, analisi e trasformazione di dati. </strong> <br> Il nome di questo spazio <br> <br> È un proverbio presente in molti dialetti italiani (in Campania ad esempio è T’aggià mbarà e tt’àggia pèrdë!), è un invito asciutto e diretto a chi riceve un <strong>insegnament</strong>o, affinché lo <strong>valorizzi</strong> e non lo <strong>disperda.</strong> 
È anche e soprattutto un incoraggiamento a prendersi cura del legame tra chi si sta <strong>scambiando conoscenza</strong> e <strong>esperienza</strong>.
Un/a nonno/a con uno sguardo "birichino" e pieno di luce lo dice a un/a nipote, a mo' di monito, per ricevere indietro due regali: lo sguardo lucente contraccambiato e constatare che l'insegnamento sia stato utile. Anche dopo anni.
Lo dice specialmente quando il/la nipotino/a non applica quanto avrebbe dovuto già  apprendere dai suoi avi.

Sarà una sorta di monito per chi frequenterà questo spazio :-) <br><br>
<strong>Come nasce questo contenitore</strong><br>
Da una <a href="https://groups.google.com/d/msg/opendatasicilia/chsV6FZg1qI/dFvHx_u-EAAJ"  class="community" title="Come nasce questo contenitore" target="_blank">proposta</a> nella mailing list di OpenDataSicilia.<br><br>
<strong>Il "galateo" di questo spazio</strong> <br>
Qui su T'ansignari abbiamo un piccolo <a href="galateo" class="community" title="galateo | per favore leggilo"><strong>galateo</strong></a>, che stiamo costruendo on the job. Se vuoi partecipare, per favore leggilo.
{{% /blocks/lead %}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fa fa-envelope" title="User mailing list" url="https://groups.google.com/forum/#!forum/opendatasicilia" %}}
Discussione e aiuto agli utenti!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Sviluppa e contribuisci!" url="https://github.com/google/docsy-example" %}}
Effettuiamo  <a href="https://github.com/opendatasicilia/tansignari-md/pulls" target="_blank" title="Pull Request">Pull Request</a> per i contributi di richiesta su <strong><a href="https://github.com/opendatasicilia/tansignari-md/" title="GitHub" target="_blank">GitHub</a></strong>. I nuovi utenti sono sempre i benvenuti!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Seguici su Twitter!" url="https://twitter.com/opendatasicilia" %}}
Per cononoscere tutte le nuove ricette!
{{% /blocks/feature %}}

<!--

{{< /blocks/section >}}

{{< blocks/section >}} 
  <div class="col display_no"> -->

<!--	<h1 class="text-center">This is the second Section</h1> 
<strong>Per visualizzare e consultare correttamente i contenuti di T'ansignari  sono necessari:</strong><br>
<strong>Risoluzione video desktop</strong>: Pc con scheda video SVGA. Monitor a risoluzione minima di 1024x768 pixel con almeno 65.536 colori.<br>
<strong>Mobile:</strong> Risoluzione minima di 360 x 640 px (modello di riferimento Sansung Galaxy S3).<br>
<strong>Browser:</strong> T'ansignari è ottimizzato per Microsoft Internet Explorer  Versione 11.0 e successive versioni, Microsoft Edge versione 25.1 e immediatamente successive, Mozilla Firefox versione 50.0 e successive, Chrome versione 40.0 o successiva, Opera versione 48.0 o successiva e Safari versione 9.0 o successiva.<br></p> -->