.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.paddingrow {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  flex-direction: row !important;
}

.horizontal {
  display: inline;
}

.listatag {
  margin-bottom: 5px;
}

#autori {
  padding-inline-start: 0px;
  font-style: italic;
}

#tagricetta {
  padding-inline-start: 0px;
  color: gray;
}

#tagricetta a {
  color: #FF8000;
}

/* Colore barra navigazione*/
.td-navbar {    background: #781F1F;}

/* link*/
/*
a:link {text-decoration:none; color: #fff; !important;}
a:visited {text-decoration: underline;	color: #781F1F; !important;}
a:hover {text-decoration: underline; color: #781F1F; !important;}
a:active {    text-decoration: underline;	color: #781F1F; !important;} */

/* @http://tansignari.opendatasicilia.it*/

/* Colore sfondo orangee*/
.-bg-orange {  color: #fff; background-color: #781F1F; !important; }

/* Colore box testo */
.td-box--primary {  color: #fff; background-color: #781F1F; !important; }
.td-box--1 {  color: #fff; background-color: #781F1F; !important; }


.td-box--1 .td-arrow-down::before {
    border-color: #781F1F transparent transparent transparent;}

/* immagine no bordo/ no ombra */
.immagonobox {	max-width: 100%!important;    height: auto!important;	box-shadow: none !important; border: none !important;	border-radius:  none !important;	moz-border-radius: none !important; -webkit-border-radius: none !important;	background-color: transparent !important;	}

img {display: block; margin: 0 auto; box-shadow: 0 1px 2.5px rgba(0,0,0,0.65);	border-radius: 5px;	moz-border-radius: 5px; -webkit-border-radius: 5px;	border: 1px solid #FFF;	padding: 1px;background-color: #fff;}

